asgiref==3.9.1
Django==5.2.5
django-bootstrap5==24.2
django-stubs==5.2.2
django-stubs-ext==5.2.2
django_debug_toolbar==3.8.1
pillow==10.4.0
pytz==2025.2
sqlparse==0.5.3
types-PyYAML==6.0.12.20250809
typing_extensions==4.14.1
tzdata==2025.2
